:root{
    --main-color:#4169e1;
    --second-color:#c9ff00;
    --white:white;
}
::selection{
    background-color: var(--second-color);
    color: var(--main-color);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--white);
  }
  ::-webkit-scrollbar-thumb {
    background-color: #4169e1;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--second-color);
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Kufi Arabic", sans-serif;

}

body{
    direction: rtl;
}
/* Componant */
.title{
    text-align: center;
    margin: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title-box{
    text-align: center;
    width: 250px;
}

h1.heading-title{
    color: var(--main-color);
    position: relative;
    transition: 0.6s;
    padding: 5px 0;
}
h1.heading-title:hover{
    background-color: #c9ff00;
    border-radius: 50px 50px 0 0 ;
    transform: scale(1.1);
}
h1.heading-title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    bottom: 0;
    left: 50%;
    background-color: var(--main-color);
    /* background-image: url("/assets/Images/Underline.svg"); */
    transform: translateX(-50%);
    transition: 0.5s;
}

h1.heading-title:hover::after {
    width: 250px;
}




/* Componant */

/* global */
a{
    text-decoration: none;
}

section:not('image'){
    margin: 100px;
}
section::after{
    content: "";
}
/* global*/

/* Header */
header{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100px;
    box-shadow: 0 0 10px 1px rgba(62, 62, 62, 0.193);
    font-size: 20px;
}

.logo{
    width: 75px;
}

ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
ul a.active li{
    color: var(--second-color); 
}
ul a.active li:hover{
   transform: scale(1.1);
}
ul a.active li::after{
    width: 50px; 
}


ul li{
    color:var(--white);
    transition: 0.3s;
    position: relative;
}
ul li::after{
    content: "";
    background-color: var(--second-color);
    width: 10px;
    height: 2px;
    position: absolute;
    top: 40px;
    right: 0;
    transition: 0.3s;
}
ul li:hover{
    color:var(--second-color);
}
ul li:hover::after{
    width: 50px;
}

.button{
    background-color: var(--second-color);
    color: white;
    padding:  10px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.button a{
    color: var(--main-color);
}

.button:hover{
    background-color: var(--white);
    color: var(--main-color);
}

/* Header */

/* Landing Page */

.landing{
    position: relative;
    z-index: -1;
    background-image: url("/assets/Images/Landing-image.svg");
    width: 100%;
    height: calc(100vh - 100px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.landing::after,
.landing::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
}
.landing::after{
    background-image: url("/assets/Images/Shabes-animation.svg");
    right:0;
    /* animation:  shapes-ani-right 20s linear  infinite alternate ; */
}

.landing::before{
    background-image: url("/assets/Images/Shabes-animation.svg");
    /* animation: shapes-ani-left 20s linear  infinite alternate ; */
    transform: rotate(180deg);
}

.landing img{
    width: 500px;
    animation:image-ani  2s linear  infinite alternate ;
}

@keyframes image-ani{
    0%{
        transform: translateY(10px);
    }50%{
        transform: translateY(0);
    }100%{
        transform: translateY(-10px);
    }
}
@keyframes shapes-ani-right{
    0%{
        transform: scale(1.05);
    }100%{
        transform: scale(1);
    }
}
@keyframes shapes-ani-left{
    0%{
        transform: scale(1.05);
    }100%{
        transform: scale(1);
    }
}




/* Section 1 (services) */
.services-container{
    display: flex;
    justify-content: center;
    margin: 100px;
    align-items: center;        
    flex-wrap: wrap ;
    min-width: 300px;
    max-width: 1400px;
    margin: auto;
    gap: 30px;
}

.service{
    text-align: center;
    margin: 50px auto;
}

.service .icon img{
    width: 100px;
    transition: 0.3s;
}
.service:hover img{
    transform: scale(1.2);
}
.service:hover .data p{
    color: var(--main-color) ;
    animation: mini-rotate 0.3s linear  2 alternate ;
}
.service .data{
    width: 300px;    
    text-wrap: wrap;
}
.service .data h1{
    font-size: 30px;    
    color: var(--main-color);
    transition: 0.3s;
}
.service .data p{
font-size: 18px;
transition: 0.3s;
}

@keyframes mini-rotate{
    0%{
        transform: rotate(0);
    }50%{
        transform: rotate(10deg);
    }100%{
        transform: rotate(-10deg);
    }
}

/* End Services */







/* Start Section 2 (Fabrics) */

/* land start */
.image-land{
    width: 100%;
    height: calc(100vh + 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:10px solid var(--main-color) ;
    border-bottom:10px solid var(--second-color) ;
}

.image-land.fabric{
    background:linear-gradient(rgba(0, 0, 0, 0.284),#4169e1),url("/assets/Images/addtional-images/Fabric.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fabric h1{
    color: white;
    font-size: 100px;
    text-align: center  ;
}



@media(300px<= width <= 767px){
    .video-container{
        display: none;
    }

    .image-land{
        width: 100%;
        height: calc(100vh + 10px);
        display: flex !important;
        justify-content: center;
        align-items: center;
        border-top:10px solid var(--main-color) ;
        border-bottom:10px solid var(--second-color) ;
    }
    
    .image-land.fabric{
        background:linear-gradient(rgba(0, 0, 0, 0.379),#4169e1),url("/assets/Images/addtional-images/Fabric.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }    

    .fabric h1{
        color: white;
        font-size: 55px;
    }
    
}

/* video */

.video-land video{
    width: 100%;
    position: relative;
    z-index: 1;
}
.video-land {
    position: relative;
}


.video-land .video-container::after{
    content: "";
    background: linear-gradient(#4169e129, #0000005a 90% , #4169e1  );
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 99;
}
/* video */
/* land end */





.fabrics .boxes {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(350px, 1fr)) ;
    justify-items: center;
    gap: 20px;
}

.fabrics .boxes {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(350px, 1fr)) ;
    justify-items: center;
    gap: 20px;
}
.fabrics .boxes .box{
    max-width: 350px;
    background-color: #eee;
}
.fabrics .boxes .box .data{
    max-width: 350px;
    background-color: #eee;
    padding: 20px;
    color: var(--main-color);
}
.fabrics .boxes .box .data{
    max-width: 350px;
    background-color: #eee;
    padding: 20px;
    color: var(--main-color);
}
.fabrics .boxes .box .image{
    width: 100%;
}
.fabrics .boxes .box .image img{
    width: 100%;
} 

/* End Section 2 (Fabrics) */

